#bluetooth
/dev/ttyHS0              0600   bluetooth bluetooth

#graphics
/dev/kgsl-3d0            0666   system    graphics
/dev/genlock             0666   system    graphics
/dev/msm_rotator         0660   system    graphics
